* {
    font-family: arial, sans-serif;
}

body {
    background-color: darkgray;
    padding: 7px;
}

div.block {
    width: 700px;
    margin: 0 auto 0 auto;
    background-color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
}

div.hdata {
    float: left;
    border: black dotted 1px;
    overflow: hidden;
}

div.hphoto {
    float: right;
    border: black dotted 1px;
}

main {clear: both;}

.br25 {
    margin-top:25px;
}

.br30 {
    margin-top:30px;
}